openapi: 3.0.0
info:
  title: Zoning API
  description: |-
    An API for serving data related to the zoning of New York City.
  version: 0.1.0
servers:
  - url: https://zoning.planningdigital.com/api
tags:
  - name: Boroughs
  - name: ZoningDistricts
paths:
  /boroughs:
    get: 
      summary: List boroughs
      operationId: getBoroughs
      tags:
      - Boroughs
      responses:
        '200':
          description: An array of borough objects.
          content:
            application/json:
              schema: 
                type: array
                items: 
                  $ref: '#/components/schemas/Borough'
  /zoning-districts/{id}:
    get:
      summary: Non-spatial details for a specific zoning district
      operationId: getZoningDistrictById
      tags:
      - ZoningDistricts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A zoning district object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoningDistrict'
components:
  schemas:
    Borough:
      type: object
      properties:
        id:
          type: string
          description: A single character numeric string containing the common number used to refer to the borough. Possible values are 1-5.
          pattern: \b[1-9]\b
          example: 1
        title:
          type: string
          description: The full name of the borough.
          example: Manhattan
        abbr:
          type: string
          description: The two character abbreviation for the borough.
          minLength: 2
          maxLength: 2
          example: MN
      required:
        - id
        - title
        - abbr
    ZoningDistrict:
      type: object
      properties:
        id:
          type: string
          description: An automatically generated uuid.
          format: uuid
          example: d1c09f3a-553b-4574-811e-abd59d19e01b
        label:
          type: string
          description: The zoning codes that apply to the district. Multiple codes are concatenated with a slash.
          example: M1-5/R7-3
      required:
        - id
        - label
