openapi: 3.0.0
info:
  title: Zoning API
  description: An API for serving data related to the zoning of New York City.
  version: 0.1.0
servers:
  - url: https://zoning.planningdigital.com/api
security: []
tags:
  - name: Agencies
    description: An endpoint that returns or is otherwise related to NYC agencies
  - name: Agency Budgets
    description: An endpoint that returns or is otherwise related to Budgets for City Agencies
  - name: Boroughs
    description: An endpoint that returns or is otherwise related to NYC boroughs
  - name: Capital Commitment Types
    description: An endpoint that return the types of capital commitments
  - name: Capital Commitments
    description: An endpoint that returns or is otherwise related to capital commitments
  - name: Capital Projects
    description: An endpoint that returns or is otherwise related to capital projects
  - name: City Council Districts
    description: >-
      An endpoint that returns or is otherwise related to NYC city council
      districts
  - name: Community Board Budget Requests
    description: >-
      An endpoint that returns or is otherwise related to NYC Community
      Board Budget Requests (CBBRs)
  - name: Community Districts
    description: >-
      An endpoint that returns or is otherwise related to NYC community
      districts
  - name: GeoJSON
    description: An endpoint that returns spatial data in a geojson format
  - name: Land Uses
    description: An endpoint that returns or is otherwise related to land uses
  - name: MVT
    description: An endpoint that returns spatial data in a mapbox vector tile format
  - name: Tax Lots
    description: An endpoint that returns or is otherwise related to tax lots
  - name: Zoning Districts
    description: An endpoint that returns or is otherwise related to zoning districts
paths:
  /agencies:
    $ref: paths/agencies.yaml
  /agency-budgets:
    $ref: paths/agency-budgets.yaml
  /boroughs:
    $ref: paths/boroughs.yaml
  /boroughs/{boroughId}/community-districts:
    $ref: paths/boroughs_{boroughId}_community-districts.yaml
  /boroughs/{boroughId}/community-districts/{communityDistrictId}/geojson:
    $ref: >-
      paths/boroughs_{boroughId}_community-districts_{communityDistrictId}_geojson.yaml
  /boroughs/{boroughId}/community-districts/{communityDistrictId}/capital-projects:
    $ref: >-
      paths/boroughs_{boroughId}_community-districts_{communityDistrictId}_capital-projects.yaml
  /boroughs/{boroughId}/community-districts/{communityDistrictId}/capital-projects/{z}/{x}/{y}.pbf:
    $ref: >-
      paths/boroughs_{boroughId}_community-districts_{communityDistrictId}_capital-projects_{z}_{x}_{y}.pbf.yaml
  /capital-commitment-types:
    $ref: paths/capital-commitment-types.yaml
  /capital-projects:
    $ref: paths/capital-projects.yaml
  /capital-projects/{managingCode}/{capitalProjectId}/capital-commitments:
    $ref: >-
      paths/capital-projects_{managingCode}_{capitalProjectId}_capital-commitments.yaml
  /capital-projects/{managingCode}/{capitalProjectId}/geojson:
    $ref: paths/capital-projects_{managingCode}_{capitalProjectId}_geojson.yaml
  /capital-projects/{managingCode}/{capitalProjectId}:
    $ref: paths/capital-projects_{managingCode}_{capitalProjectId}.yaml
  /capital-projects/managing-agencies:
    $ref: paths/capital-projects_managing-agencies.yaml
  /capital-projects/{z}/{x}/{y}.pbf:
    $ref: paths/capital-projects_{z}_{x}_{y}.pbf.yaml
  /city-council-districts:
    $ref: paths/city-council-districts.yaml
  /city-council-districts/{cityCouncilDistrictId}/geojson:
    $ref: paths/city-council-districts_{cityCouncilDistrictId}_geojson.yaml
  /city-council-districts/{cityCouncilDistrictId}/capital-projects/{z}/{x}/{y}.pbf:
    $ref: >-
      paths/city-council-districts_{cityCouncilDistrictId}_capital-projects_{z}_{x}_{y}.pbf.yaml
  /city-council-districts/{cityCouncilDistrictId}/community-board-budget-requests/{z}/{x}/{y}.pbf:
    $ref: >-
      paths/city-council-districts_{cityCouncilDistrictId}_community-board-budget-requests_{z}_{x}_{y}.pbf.yaml
  /city-council-districts/{cityCouncilDistrictId}/capital-projects:
    $ref: paths/city-council-districts_{cityCouncilDistrictId}_capital-projects.yaml
  /city-council-districts/{z}/{x}/{y}.pbf:
    $ref: paths/city-council-districts_{z}_{x}_{y}.pbf.yaml
  /community-board-budget-requests:
    $ref: paths/community-board-budget-requests.yaml
  /community-board-budget-requests/{cbbrId}:
    $ref: paths/community-board-budget-requests_{cbbrId}.yaml
  /community-board-budget-requests/{cbbrId}/geojson:
    $ref: paths/community-board-budget-requests_{cbbrId}_geojson.yaml
  /community-board-budget-requests/agencies:
    $ref: paths/community-board-budget-requests_agencies.yaml
  /community-board-budget-requests/agency-category-responses:
    $ref: paths/community-board-budget-requests_agency-category-responses.yaml
  /community-board-budget-requests/need-groups:
    $ref: paths/community-board-budget-requests_need-groups.yaml
  /community-board-budget-requests/policy-areas:
    $ref: paths/community-board-budget-requests_policy-areas.yaml
  /community-board-budget-requests/{z}/{x}/{y}.pbf:
    $ref: paths/community-board-budget-requests_{z}_{x}_{y}.pbf.yaml
  /community-districts/{z}/{x}/{y}.pbf:
    $ref: paths/community-districts_{z}_{x}_{y}.pbf.yaml
  /land-uses:
    $ref: paths/land-uses.yaml
  /tax-lots:
    $ref: paths/tax-lots.yaml
  /tax-lots/{bbl}:
    $ref: paths/tax-lots_{bbl}.yaml
  /tax-lots/{bbl}/geojson:
    $ref: paths/tax-lots_{bbl}_geojson.yaml
  /tax-lots/{bbl}/zoning-districts:
    $ref: paths/tax-lots_{bbl}_zoning-districts.yaml
  /tax-lots/{bbl}/zoning-districts/classes:
    $ref: paths/tax-lots_{bbl}_zoning-districts_classes.yaml
  /zoning-districts/{id}:
    $ref: paths/zoning-districts_{id}.yaml
  /zoning-districts/{id}/classes:
    $ref: paths/zoning-districts_{id}_classes.yaml
  /zoning-district-classes:
    $ref: paths/zoning-district-classes.yaml
  /zoning-district-classes/category-colors:
    $ref: paths/zoning-district-classes_category-colors.yaml
  /zoning-district-classes/{id}:
    $ref: paths/zoning-district-classes_{id}.yaml
